body {
  background-color: #d8d8d8;
  font-family: "Lato", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  padding-top: 0px;
  z-index: 999;
}

.container-nav {
  align-content: center;
}

.img-avatar {
  width: 22px;
  height: 22px;
  margin-top: 9px;
}

/* .carousel-inner {
  height: 400px;
} */
.top-undernav {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding-top: 57px;
}

span {
  color: #949da0;
}
span p {
  display: inline-block;
  color: #949da0;
  font-size: 11px;
  margin-right: 25px;
}

span p .bi-search {
  display: inline-block;
  color: #949da0;
  font-size: 18px;
  margin-right: 25px;
}

.box-card1 > span {
  color: white;
}

p {
  margin: 0px;
}

.card-text {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* .one {
  margin-bottom: 41.8px;
} */
/* .one-promotion {
  margin-bottom: 28.8px;
} */

.card-body {
  height: 104px;
  padding-top: 8px;
}
.card-body1 {
  height: 104px;
  flex-direction: column;
  padding: 11px;
  justify-content: space-between;
}
.card-bottom-line {
  justify-content: space-between;
  align-items: center;
}
.fab {
  color: #9b9b9b;
}
.bottom-card {
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 1rem;
  padding-left: 1rem;
}

.font-bottom-card {
  font-weight: bold;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #000;
}
.box-card {
  position: absolute;
  text-align: center;
  transform: translateX(90px);
  width: 48px;
  height: 27px;
  background-color: #78387b;
  color: white;
}

.box-card1 {
  text-align: center;
  background-color: #78387b;
  color: white;
  font-size: 14px;
  align-items: center;
}

/* @media (min-width: 991.98px) and (max-width: 1199.98px) {
  .box-card {
    position: absolute;
    text-align: center;
    transform: translateX(50px);
    width: 48px;
    height: 27px;
    background-color: #78387b;
    color: white;
  }
}
@media (max-width: 991.98px) {
  .box-card {
    position: absolute;
    text-align: center;
    transform: translateX(150px);
    width: 48px;
    height: 27px;
    background-color: #78387b;
    color: white;
  }
} */

/* @media (max-width: 767.96px) {
  .one-promotion1 {
    margin-bottom: 28.8px;
  } */

/* @media (min-width: 767.98px) and (max-width: 991.98px) {
  .card-queries {
    margin-bottom: 28.8px;
  }
} */

.col-prices {
  flex-direction: column;
  align-items: flex-end;
}
.text-numb {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.text-sub {
  color: #9b9b9b;
  font-size: 10px;
  text-decoration: line-through;
}
/* .box-icons {
  padding-bottom: 12px;
} */
.hr-lign {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  font-size: 13px;
}

.row-bar {
  justify-content: space-between;
  align-items: center;
}

.vertical-line {
  height: 40px;
  border-left: 1px solid black;
}

.circle-purple {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(93, 6, 159, 1) 0%,
    rgba(84, 9, 121, 1) 52%,
    rgba(209, 0, 255, 1) 100%
  );
}
.circle-inside {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #d8d8d8;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}

.p-circle {
  color: purple;
  font-size: 16px;
  font-weight: bold;
}

.color-bar {
  color: purple;
  font-size: 13px;
  font-weight: bold;
}
